# wrangler.toml

# 1. 加上一個「頂層」的名稱，當作 "專案群組"
name = "gan-woo-ya"

main = "src/index.ts"
compatibility_date = "2024-06-01"
compatibility_flags = ["nodejs_compat"] 

# --- 正式環境 [production] ---
[env.production]
# 2. 這裡的 name 會覆蓋頂層的 name
#    最終的 Worker 名稱會是 "gan-woo-ya-api"
name = "gan-woo-ya-api" 

[[env.production.d1_databases]]
binding = "DB"
database_name = "movie_showtimes_db"
database_id = "dc77de87-2fa7-403a-a0ec-31209f2eae1e" 

# --- 本地開發環境 [dev] ---
[env.dev]
# 3. (可選) 也可以幫 dev 加上 name
name = "gan-woo-ya-dev"

[[env.dev.d1_databases]]
binding = "DB"
database_name = "movie_showtimes_db"
database_id = "dc77de87-2fa7-403a-a0ec-31209f2eae1e"
preview_database_id = "movie_showtimes_db"

[env.dev.vars]
SCRAPER_SECRET = "+Bi7M08gf-_W"